<app-header></app-header>


<!-- **************************************************** -->
<div class="container">

    
<!-- breadcrumb -->
<div class="row mt-5 ml-0">
    <div class="col-sm-12 offset-sm-0 p-0">
        <nav>
            <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a>My Applications</a></li>
                <li class="breadcrumb-item active">BCBA Certification Application - Processing Agreement</li>
            </ol>
        </nav>
    </div>
</div>
      

    <div class="row mt-4">
        <div class="col-sm-12">
          <div class="page-header d-flex justify-content-center">
              <h2>BCBA Certification Application - Processing Agreement</h2>
          </div>
        </div>
    </div>
    
    <div class="row">
        <div class="col-sm-12">
          <div class="progress">
              <div class="progress-bar bacb-bar" role="progressbar" aria-valuenow="66.66" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                  9/9
              </div>
          </div>
        </div>
      </div>  
      
      <div class="row">
        <div class="col-sm-12">

            
                
                
                <div class="col-lg-12">
                    <div class="col-lg-12">
       
        
                  </div>
                </div>
                <div class="col-lg-12">
      <div class="col-lg-12">
      <br>
<p>The Behavior Analyst Certification Board agrees to process this certification application subject to your agreement to the following terms and conditions:</p>
                <ul>
                  <li>That you have read and currently agree to be bound by and comply with all BACB rules and requirements, as may be revised, relating to:</li>
                  <ul>
                    <li>Your application for certification;</li>
                    <li>Maintaining ongoing certification; and</li>
                    <li>Recertification.</li>
                  </ul>
                  <li>That you will only convey truthful and accurate information to the BACB;</li>
                  <li>You are required to complete all requirements of the BACB relating to the BACB certification you are requesting or any BACB certification or credential held by you, including, but not limited to:</li>
                  <ul>
                    <li>Payment of applicable fees (which are non-refundable);</li>
                    <li>Demonstration of requirements met by you for eligibility, ongoing certification, or recertification, as may be applicable;</li>
                    <li>Compliance with the BACB&rsquo;s Professional and Ethical Compliance Code or other applicable ethical standards;</li>
                    <li>Compliance with all BACB documentation and reporting requirements; and</li>
                    <li>Ongoing review and compliance with any revised requirements. You will receive notice of revisions in one (1) of the following mediums:</li>
                    <li>The BACB Newsletter or other applicable pages available on the BACB&rsquo;s official website;</li>
                    <li>Email between you and the BACB or as published to your BACB gateway account.</li>
                  </ul>
                  <li>You are responsible for checking the BACB website, your email on record with the BACB, and your BACB gateway account regularly, at least monthly, for changes, revisions and additions to the standards. You are deemed to have received notice of the changes, revisions and additions within 30 days of the date they are posted on the website, emailed to you, or published to your gateway account.</li>
                  <li>You authorize the BACB to publish or otherwise release the information identified herein to state licensing boards or agencies, other health care organizations, professional associations, employers or the public. It is the policy of the BACB not to release candidate information provided and contained in BACB applications and certificant records, unless such information relates to pending or final disciplinary matters and/or is requested by a state or federal licensing authority, agency, court of law, or necessary for the conduct of a disciplinary investigation or criminal background check, or otherwise properly subpoenaed. </li>
                </ul>
<p>It is also the policy of the BACB to publish and make publicly available on the BACB website the following information:</p>
                <ul>
                  <li>Certificant name;</li>
                </ul>
<ul>
    <li>Certification status (e.g., active, inactive, expired, suspended, revoked, mandatory supervision, or other limitation);</li>
                </ul>
                <ul>
                  <li>Certificant city/ state of residence;</li>
                </ul>
<ul>
    <li>Year of certification;</li>
                </ul>
                <ul>
                  <li>Year of disciplinary action, if any;</li>
                </ul>
<ul>
    <li>Qualifications and willingness to supervise;</li>
                </ul>
                <ul>
                  <li>Violations of the BACB Professional and Ethical Compliance Code, including, but not limited to:</li>
                </ul>
<ul>
    <ul>
                    <li>Code section alleged to have been violated;</li>
                  </ul>
                </ul>
                <ul>
                  <ul>
                    <li>Interim or Final action/sanction(s) imposed;</li>
                  </ul>
                </ul>
<ul>
    <ul>
                    <li>Name of applicant or certificant on a matter resulting in revocation or suspension of certification or eligibility, restriction or limitation of providing certain services, and/or mandatory supervision; and</li>
                  </ul>
                </ul>
                <ul>
                  <ul>
                    <li>State of current residence of the applicant or certificant and state where the matter occurred.</li>
                  </ul>
                </ul>
<p>In the BACB&rsquo;s discretion, the BACB may authorize email contact of you through the BACB&rsquo;s Online Registry and through use of the BACB email campaign. You authorize the BACB to publish or otherwise release the information identified in this agreement to state licensing boards or agencies, other health care organizations, professional associations, employers or the public.</p>
                <p>It is the policy of the BACB to comply with all applicable privacy and publication laws. If you become aware that this agreement contravenes laws where you reside, you agree to provide the BACB with written notice of the conflict prior to publication of your information on the BACB website or release of your information. Once the information has been published on the BACB website or released outside the BACB, the BACB is unable to assure removal or retrieval of the information without advance notice from you of the conflict with applicable law.</p>
                <ul>
                  <li>You agree to hold the BACB harmless, and to waive, release, and exonerate the BACB, its officers, directors, employees, committee members, panel members, and agents (referred to collectively as &ldquo;BACB Personnel&rdquo;) from any claims that you may have against the BACB arising out of the BACB's review of this application, or any future applications relating to eligibility for credentialing, certification, recertification or reinstatement, conduct of the examination, disciplinary processing, issuance of a disciplinary decision, publication or third-party disclosure in accordance with Clause 5 of this Agreement.</li>
                </ul>
<ul>
    <li>You are prohibited from engaging in vextatious or harassing communications with BACB Personnel. You must immediately comply with any cease and desist notice issued to you from the BACB.</li>
                </ul>
                <ul>
                  <li>You must accurately identify to others (including employers and clients) that this credential, if granted, acknowledges that you have met the BACB's minimum standards, but does not warrant or guarantee your competence to provide professional services, and to indemnify the BACB from and against any liability that may arise from the BACB's issuance of your credential and your professional practice. </li>
                </ul>
<p>The terms of this agreement shall survive expiration of your certification application, certification or credential. This agreement is governed by the laws of the State of Colorado. In the event of a judgment against the BACB in a matter filed by or on behalf of you, you agree that damages payable by the BACB may not exceed any monies you have paid to the BACB in association with filing this application,</p>
      </div></div>

      

<div class="col-lg-12">
    <div class="form-group col-lg-6" show-errors>
                        <!-- <label for="optAcceptTerms">
                            Do you agree to the BACB terms and conditions outlined above?<sup class="text-danger">*</sup>
                        </label>
                        <select class="form-control" name="optAcceptTerms" id="optAcceptTerms" placeholder="Select One"
                                ng-options="value as key for (key, value) in application.data.BOOL"
                                ng-model="application.data.applicationData.optAcceptTerms" ng-required="true">
                            <option value=""></option>
                            <option value="">I Agree</option>
                            <option value="">I Do Not Agree</option>
                        </select> -->


                        <mat-form-field class="width-100">
                                <mat-select placeholder="Do you agree to the BACB terms and conditions outlined above?">
                                  <mat-option value="option">Yes</mat-option>
                                  <mat-option value="option">No</mat-option>
                                </mat-select>
                              </mat-form-field>


                    </div>

                </div>

                <div class="col-lg-12">&nbsp;</div>

          

        </div>
      </div>

      <div class="row mt-4">
          <div class="col-lg-12">
              <div class="alert alert-danger alert-dismissible" role="alert" ng-if="application.data.errorMessage">
                  <button type="button" class="close" data-dismiss="alert" ng-click="application.data.errorMessage = ''" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  Please make sure to complete all required fields (Error message will indicate exact missing fields)
              </div>
          </div>
      </div>

      <div class="row mt-4">
          <div class="col-lg-12 text-center">
              <div class="btn-group" role="group">

                    <button mat-flat-button class="back-btn mr-4" routerLink="/attestations">Back</button>
        
                    <button mat-flat-button class="cancel-btn mr-4">Cancel</button> 
                    
                    <button mat-flat-button class="save-exit-btn mr-4">Save & Exit</button>
        
                    <button mat-flat-button class="bacb-primary-btn" type="submit" (click)="terms()" [disabled]="is_true=='false'">Continue</button> 

              </div>
          </div>
      </div>


</div> <!-- end container -->     